@font-face {
  font-family: Caveat;
  src: url(Caveat-VariableFont_wght.ttf);
}
body {
  background: #292d3e;
  padding: 2rem;
  font-family: Caveat;
}

.banner-container {
  outline: rgba(0, 0, 0, 0.13) 5px solid;
  border-radius: 1vh;
  background: linear-gradient(60deg, rgb(116, 61, 61), rgb(50, 109, 148));
  width: 50%;
  aspect-ratio: 4/1;
  padding: 1vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.phone-container {
  aspect-ratio: 9/16;
  box-sizing: border-box;
  z-index: 3;
}

.phone {
  outline: 0.05vh solid rgba(0, 0, 0, 0.959);
  border-radius: 0.5vh;
  height: 100%;
  padding: 0.4vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.63);
}

.top-camera-bit {
  height: 1.2vh;
  padding: 0.25vh;
  display: flex;
  justify-content: right;
}

.camera {
  background: linear-gradient(95deg, rgb(85, 84, 84), rgb(153, 153, 153), rgb(68, 68, 68));
  height: 1vh;
  width: 15%;
  border-radius: 1rem;
  margin-right: 1vh;
}

.phone-screen {
  height: 100%;
  border-radius: 0.8vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  outline: 0.05vh rgba(0, 0, 0, 0.212) solid;
}

.top-menu {
  height: 82.5%;
  padding: 1.5vh 1.2vh 1.5vh 1.2vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.top-menu .row {
  display: flex;
  justify-content: space-between;
}
.top-menu .row:last-of-type .app-icon:nth-child(3) {
  background: none;
  outline: none;
}
.top-menu .row:last-of-type .app-icon:nth-child(4) {
  background: none;
  outline: none;
}

.bottom-menu {
  background-color: rgba(255, 255, 255, 0.55);
  padding: 1.4vh;
  box-sizing: border-box;
}
.bottom-menu .row {
  display: flex;
  justify-content: space-between;
}

.app-icon {
  background-color: rgb(255, 255, 255);
  outline: 0.05vh rgba(0, 0, 0, 0.212) solid;
  width: 20%;
  aspect-ratio: 1/1;
  z-index: 3;
  border-radius: 0.5vh;
}

.radio-wave-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.waveOne {
  position: absolute;
  top: 1vh;
  left: 15%;
  width: 12%;
  height: 30%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}
.waveOne .wavelet {
  width: 20%;
  height: 0%;
  animation: waveEffectOne 3s infinite;
  position: absolute;
  background-color: rgb(255, 232, 104);
  animation-timing-function: linear;
}
.waveOne .wavelet:nth-of-type(2) {
  animation-delay: 1s;
}
.waveOne .wavelet:nth-of-type(3) {
  animation-delay: 2s;
}

@keyframes waveEffectOne {
  0% {
    left: 0%;
    height: 0%;
  }
  100% {
    left: 100%;
    height: 100%;
  }
}
.waveTwo {
  position: absolute;
  bottom: 1vh;
  right: 15%;
  width: 12%;
  height: 30%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}
.waveTwo .wavelet {
  width: 20%;
  height: 0%;
  animation: waveEffectTwo 3s infinite;
  position: absolute;
  background-color: rgb(255, 232, 104);
  animation-timing-function: linear;
}
.waveTwo .wavelet:nth-of-type(2) {
  animation-delay: 1s;
}
.waveTwo .wavelet:nth-of-type(3) {
  animation-delay: 2s;
}

@keyframes waveEffectTwo {
  0% {
    right: 0%;
    height: 0%;
  }
  100% {
    right: 100%;
    height: 100%;
  }
}
.wavelet {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
  border-radius: 0.25vw;
}

.one .phone-screen {
  background: linear-gradient(15deg, rgb(212, 199, 123), cyan);
}
.one .phone {
  background: linear-gradient(60deg, rgb(122, 122, 122), rgb(187, 187, 187), gray);
}

.two .phone-screen {
  background: linear-gradient(15deg, rgb(17, 1, 0), rgb(163, 19, 0));
}
.two .phone {
  background: linear-gradient(60deg, rgb(80, 80, 80), rgb(39, 39, 39), rgb(78, 78, 78));
}

h1 {
  position: absolute;
  margin: 0px;
  font-size: 6vw;
  transform: rotate(3deg);
  color: rgb(255, 255, 255);
  text-shadow: rgba(255, 255, 255, 0.6431372549) 2px 2px 10px;
  animation: flicker 6s infinite;
}

h1:first-of-type {
  top: 0vw;
  right: 30%;
}

h1:last-of-type {
  bottom: 0vw;
  left: 30%;
}

@keyframes flicker {
  74% {
    text-shadow: rgba(255, 255, 255, 0.6588235294) 2px 2px 10px;
  }
  70% {
    text-shadow: none;
  }
  75% {
    text-shadow: rgba(255, 255, 255, 0.6431372549) 2px 2px 10px;
  }
  76% {
    text-shadow: none;
  }
  77% {
    text-shadow: #ffffff 2px 2px 10px;
  }
}/*# sourceMappingURL=styles.css.map */